{% load i18n %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Account' %}<b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% if user.is_authenticated %}

            <li><a href="{% url accounts-profile-my-vehicles %}">{% trans 'My Vehicles' %}</a></li>
            <li><a href="{% url accounts-profile-general %}">{% trans 'Profile' %}</a></li>
{#            <li><a href="{% url accounts-profile-payment %}">{% trans 'Payments' %}</a></li>#}
            <li><a href="{% url accounts-profile-contacts %}">{% trans 'Contact phones' %}</a></li>

            <li class="divider"></li>
            <li><a href="{% url accounts-logout %}">{% trans 'Logout' %}</a></li>
        {% else %}
            <li><a href="{% url accounts-login %}">{% trans 'Login' %}</a></li>
            <li><a href="{% url accounts-register %}">{% trans 'Register' %}</a></li>
        {% endif %}
    </ul>
</li>