{% extends "accounts/profile.html" %}

{% load add_class i18n %}

{% block ng-app %}ng-app="profile"{% endblock %}

{% block title %}Profile General Information - {{ block.super }}{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block profile_page_content %}

    <div class="page-header">
        <h1>{% trans 'Profile' %}</h1>
    </div>

    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-error">{{ message }}</div>
        {% else %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success">{{ message }}</div>
            {% endif %}
        {% endif %}
    {% endfor %}

        <form class="form-horizontal" action="{% url accounts-profile-general %}" method="post">
            {% csrf_token %}

            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="id_email">Email</label>
                    <div class="controls">
                        <span class="input-xlarge uneditable-input" id="id_email">{{ email }}</span>
                    </div>
                </div>

                <div class="control-group {% if UserForm.first_name.errors %}error{% endif %}">
                    {{ UserForm.first_name.label_tag|add_class:'control-label' }}
                    <div class="controls">
                        {{ UserForm.first_name|add_class:'input-xlarge' }}
                    </div>
                </div>

                <div class="control-group {% if UserForm.last_name.errors %}error{% endif %}">
                    {{ UserForm.last_name.label_tag|add_class:'control-label' }}
                    <div class="controls">
                        {{ UserForm.last_name|add_class:'input-xlarge' }}
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn">{% trans 'Update' %}</button>
                </div>
            </fieldset>

        </form>

{% endblock %}